# requirements.txt

# Core utilities
numpy>=1.26
pandas>=2.2
torch>=2.0
transformers
pyyaml

# notebook stats
matplotlib
nltk

# for fetching datasets from Hugging Face Hub
huggingface_hub>=0.24

# Notebook environment
jupyter>=1.0
notebook>=7.0

# Progress bars and visualization helpers
tqdm>=4.66

# regular expressions
regex

# tests
pytest
pytest-mock

# logging
wandb

# mamba implementation
mamba_ssm