output_dir: ./results/mamba_tinystories_33M

batch_size: 16          # biggest model, we need more memory
learning_rate: 3.0e-4
weight_decay: 0.1
num_train_epochs: 4

grad_accum_steps: 1
max_grad_norm: 1.0
num_workers: 4
